{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'login_studentCss.css' %}">
</head>
<body>
  <div class="container">
    <div class="login form">

        <header>Password reset</header>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        
        <form method="post">
          {% csrf_token %}
          <input type="text" name="new_password" placeholder="New password..." required>
          <input type="text" name="confirm_password" placeholder="Confirm password..." required>
          <input type="submit" class="button" value="Change my password">
        </form>
        
        {% if messages %}
          {% for message in messages %}
            <div style="color: red;" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% if validlink %}
          <p>Your password reset link is valid.</p>
        {% else %}
          <p>Your password reset link is invalid, possibly because it has already been used.</p>
        {% endif %}
    </div>
  </div>
</body>
</html>