body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    flex-wrap: wrap;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #ffffff;
    height: 11vh; 
    width: 100vw; 
    position: sticky; 
    top: 0;
}

::-webkit-scrollbar {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px; 
    height: auto; 
    margin-right: 5px;
}

.logo-letters {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
}

.red-letter {
    color: red;
}

.logo-subtext {
    font-size: 10px;
    color: black;
    text-align: left; 
}

.text-content {
    display: flex;
    flex-direction: column; 
    margin-left: 10px; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

.logout-btn {
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 30px;
    border-radius: 5px;
    position: relative;
}

.logout-btn:hover {
    background-color: #e60000;
}

h1 {
    text-align: center;
}

.container {
    width: 90%;
    margin: 10px auto;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}